body{
    font-family: 'Poppins';
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo{
    width: 65px;
    
    
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
    
   
}

.cabecalho nav li a{
    font-weight: bold;
    color: aliceblue;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
    
}

.cabecalho nav li a:hover{
    background-color: cornflowerblue;
    
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
    padding: 0 30px 30px;


}

.container .imagem-titulo{
    max-width: 500px;
}

.container .descricao{
    color: grey;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer{
    color: black;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.5s all ease-in-out;
}

.container .botao-trailer:hover{
    transform: scale(1.1);
}

.fundo-video{
    background-color: red;
   position: absolute;
   z-index: -1;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.fundo-video .video{
    height: 100vh;
}

/* Pseudo Elemento -- Criando um HTML só que pelo CSS....    Para colocar o video no fundo */

.fundo-video::after{
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4990371148459384) 50%, rgba(0,0,0,1) 100%);
    
}